#board {
  display: flex;
  flex-direction: row;
}

#refresh {
  display: flex;
  flex-direction: row;
}

#refresh-button {
  padding: .5rem;
  margin: 1rem
}

#add {
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.form {
  padding: 2%;
  margin: .5rem;
}

table {
  border: 2px black solid;
  width: 100%;
  padding: 2%;
  margin: 2%;

}

tr:nth-child(even) {
  background: #ccc;
}
