* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 70%;
  margin: auto;
  background: #ecf3f3;
}

#board {
  display: flex;
  flex-direction: row;
}

#refresh {
  display: flex;
  flex-direction: row;
}

#refresh-button {
  padding: 0.5rem;
  margin: 1rem;
}

#add {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form {
  padding: 0.5rem;
  margin: 0.5rem;
}

.scroll {
  border: 2px black solid;
  height: 20rem;
  overflow-y: auto;
}

table {
  width: 100%;
  padding: 0.1rem;
  margin: 0;
}

tr:nth-child(even) {
  background: #ccc;
}

@media screen and (max-width: 800px) {
  body {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 90%;
  }

  #board {
    flex-direction: column;
  }
}
